Flask==2.2.5
Flask-Cors==3.0.10
openai==0.28.1
PyJWT==2.8.0
requests==2.31.0
python-dotenv==1.0.1
pytz==2024.1
PyPDF2==3.0.1
pandas==2.2.1
matplotlib==3.8.3
Pillow==10.2.0
twilio==8.11.0
gunicorn==21.2.0
psycopg2-binary>=2.9.3
SQLAlchemy>=1.4.0
