<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCalendarsUsageDescription</key>
  <string>Allow this app to access your calendar to save appointments</string>
  <key>NSRemindersUsageDescription</key>
  <string>Allow this app to access your reminders for appointment notifications</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Allow this app to access your location to find nearby doctors</string>
</dict>
</plist>
